<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between">

        <div>
            <a class="navbar-brand" href="@Url.Content("~/Licores/Index")">
                Licorería
            </a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        </div>
        

        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i>@User.Identity.Name</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="@Url.Action("Index","Home")">Tienda</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Logout","User")">Salir</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <!--Clientes-->
                        <div class="sb-sidenav-menu-heading">Clientes</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClients" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Clientes/Usuarios
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseClients" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Create","User")">Agregar Usuario</a>
                                <a class="nav-link" href="@Url.Action("Index","User")">Ver Usuarios</a>
                            </nav>
                        </div>
                        <a class="nav-link" href="@Url.Action("Index","Pedidos")">
                            <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                            Pedidos
                        </a>
                        <a class="nav-link" href="@Url.Action("Index","Reportes")">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-pie"></i></div>
                            Reportes
                        </a>
                        <!--Roles-->
                        <div class="sb-sidenav-menu-heading">Roles</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRoles" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Roles
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseRoles" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Create","Roles")">Agregar Rol</a>
                                <a class="nav-link" href="@Url.Action("Index","Roles")">Ver Roles</a>
                            </nav>
                        </div>

                        <div class="sb-sidenav-menu-heading">Inventario</div>
                        <!-- Licores-->
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLicores" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-beer"></i></div>
                            Licores
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLicores" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="@Url.Action("Create","Licores")">Agregar Licor</a>
                                <a class="nav-link" href="@Url.Action("Index","Licores")">Ver Licores</a>
                            </nav>
                        </div>

                        <!-- Marcas y Tipos-->
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMarcasTipos" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Marcas y Tipos
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseMarcasTipos" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">

                                <!-- Marcas -->
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseMarcas" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Marcas
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseMarcas" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@Url.Action("Create","Marcas")">Agregar Marca</a>
                                        <a class="nav-link" href="@Url.Action("Index","Marcas")">Ver Marcas</a>
                                    </nav>
                                </div>

                                <!-- Tipos -->
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseTipos" aria-expanded="false" aria-controls="pagesCollapseError">
                                    Tipos
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseTipos" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@Url.Action("Create","Tipos")">Agregar Tipo</a>
                                        <a class="nav-link" href="@Url.Action("Index","Tipos")">Ver Tipos</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Proveedores</div>
                        <a class="nav-link" href="@Url.Action("Index","Proveedores")">
                            <div class="sb-nav-link-icon"><i class="fas fa-address-card"></i></div>
                            Ver Proveedores
                        </a>
                        <a class="nav-link" href="@Url.Action("Create","Proveedores")">
                            <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
                            Agregar Proveeedor
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logueado como:</div>
                    @User.Identity.Name
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div>
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Licoreria 2020</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)

    @*<script>
            $('[data-toggle="collapse"]').on('mouseenter', function () {
                $(this).parents('#sidenavAccordion').find('.collapse').collapse('show');
            });
        </script>*@
</body>
</html>

