@model IEnumerable<FrontEnd.Models.MarcasViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Marcas</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vNombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vNombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idMarca }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idMarca }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idMarca })
        </td>
    </tr>
}

</table>
