@model IEnumerable<FrontEnd.Models.LicoresViewModel>

@{
    ViewBag.Title = "Licorera El Alto";
}
<div class="container">
    <h2>Licorera El Alto</h2>

    <p>
        @Html.ActionLink("Agregar Licor", "Create")
    </p>
    <table class="table">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.idMarca)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.idTipo)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.idProveedor)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.vDescripción)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.iUnidades)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.iPrecio)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.iMl)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Foto_Licor)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.marca.vNombre)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.tipo.vNombre)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.proveedor.vNombre)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.vDescripción)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.iUnidades)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.iPrecio)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.iMl) ml
                </td>
                <td class="align-middle">
                    @{ var imgSrc = String.Format("data:image/jpg;base64,{0}", item.Foto_Licor);}
                    <img style="width:100px;height:200px" src="@imgSrc" alt="Foto Licor" />
                </td>
                <td class="align-middle">
                    @Html.ActionLink("Editar", "Edit", new { id = item.idLicor }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idLicor }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.idLicor })
                </td>
            </tr>
        }

    </table>
</div>